/* Borrowing the Bootstrap docs sidebar, cite: http://getbootstrap.com/assets/css/docs.min.css */
/*!
 * Bootstrap Docs (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see https://creativecommons.org/licenses/by/3.0/.
 */
.bs-docs-sidebar.affix {
  position: static
}

@media (min-width:768px) {
  .bs-docs-sidebar {
    padding-left: 20px
  }
}

.bs-docs-sidenav {
  margin-top: 20px;
  margin-bottom: 20px
}

.bs-docs-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #767676
}

.bs-docs-sidebar .nav > li > a:focus, .bs-docs-sidebar .nav > li > a:hover {
  padding-left: 19px;
  color: #563d7c;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #563d7c
}

.bs-docs-sidebar .nav > .active:focus > a, .bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active > a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c
}

.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 400
}

.bs-docs-sidebar .nav .nav > li > a:focus, .bs-docs-sidebar .nav .nav > li > a:hover {
  padding-left: 29px
}

.bs-docs-sidebar .nav .nav > .active:focus > a, .bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active > a {
  padding-left: 28px;
  font-weight: 500
}

.back-to-top, .bs-docs-theme-toggle {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999
}

.back-to-top:hover, .bs-docs-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none
}

@media (min-width:768px) {
  .back-to-top, .bs-docs-theme-toggle {
    display: block
  }
}

@media (min-width:992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block
  }

  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
    width: 213px
  }

  .bs-docs-sidebar.affix {
    position: fixed;
    top: 20px
  }

  .bs-docs-sidebar.affix-bottom {
    position: absolute
  }

  .bs-docs-sidebar.affix .bs-docs-sidenav, .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
    margin-top: 0;
    margin-bottom: 0
  }
}

@media (min-width:1200px) {
  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
    width: 263px
  }
}

.bs-navbar-bottom-example, .bs-navbar-top-example {
  z-index: 1;
  padding: 0;
  overflow: hidden
}

.bs-navbar-bottom-example .navbar-header, .bs-navbar-top-example .navbar-header {
  margin-left: 0
}

.bs-navbar-bottom-example .navbar-fixed-bottom, .bs-navbar-top-example .navbar-fixed-top {
  position: relative;
  margin-right: 0;
  margin-left: 0
}

.bs-navbar-top-example {
  padding-bottom: 45px
}

.bs-navbar-top-example:after {
  top: auto;
  bottom: 15px
}

.bs-navbar-top-example .navbar-fixed-top {
  top: -1px
}

.bs-navbar-bottom-example {
  padding-top: 45px
}

.bs-navbar-bottom-example .navbar-fixed-bottom {
  bottom: -1px
}

.bs-navbar-bottom-example .navbar {
  margin-bottom: 0
}

@media (min-width:768px) {
  .bs-navbar-bottom-example .navbar-fixed-bottom, .bs-navbar-top-example .navbar-fixed-top {
    position: absolute
  }
}

.hidden-on .col-xs-6 .hidden-lg, .hidden-on .col-xs-6 .hidden-md,
.hidden-on .col-xs-6 .hidden-sm, .hidden-on .col-xs-6 .hidden-xs, .visible-on .col-xs-6 .hidden-lg,
.visible-on .col-xs-6 .hidden-md, .visible-on .col-xs-6 .hidden-sm,
.visible-on .col-xs-6 .hidden-xs {
  color: #999;
  border: 1px solid #ddd
}

.hidden-on .col-xs-6 .visible-lg-block, .hidden-on .col-xs-6 .visible-md-block,
.hidden-on .col-xs-6 .visible-sm-block, .hidden-on .col-xs-6 .visible-xs-block,
.visible-on .col-xs-6 .visible-lg-block, .visible-on .col-xs-6 .visible-md-block,
.visible-on .col-xs-6 .visible-sm-block, .visible-on .col-xs-6 .visible-xs-block {
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6
}