/* Stylesheet for the project, uses LESS to pre-compile the CSS */
body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-heading a {
  color: inherit;
}

.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
}

.panel-danger .panel-heading a:after {
  margin-top: -17.5px;
  color: grey;
}

.panel-primary .panel-heading a:after {
  color: white;
}

.panel-heading a.collapsed:after {
  content:"\e080";
}

.alert a {
  color: #333;
}

.fg-box {
  display: none;
}

.graph {
  height: 100px;
  width: 100px;
  background: #eee;
}

.vaxis {
  height: 100%;
  width: 2px;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
}

.haxis {
  height: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: -50%;
}

.point {
  width: 10px;
  height: 10px;
  background: #fa0000;
  position: relative;
}

img {
  max-width: 100%; // Prevent image overflow on smaller displays
}

.input-group {
  max-width: 220px;
}