<link rel="stylesheet" href="/bootstrap-select/css/bootstrap-select.min.css" xmlns="http://www.w3.org/1999/html">
<script src="/bootstrap-select/js/bootstrap-select.js"></script>

<script>
    function socketEmit(event,data) {
        socket.emit(event,data);
    }
</script>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron col-md-8">
    <h1>{{title}}</h1>
    <div id="content">
        <p>
            This page demonstrates the capabilities of this software. It does not provide a single lesson, but rather
            demonstrates the capabilities.
        </p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a data-toggle="collapse" data-target="#collapseHow"
                   href="#collapseHow" aria-expanded="false" class="collapsed">How to use FlightGear:</a>
            </div>
            <div id="collapseHow" class="panel-collapse collapse">
                <div class="panel-body">
                    <ol>
                        <li>
                            Choose an aircraft and optionally choose a flight condition (ensure the checkbox is checked)
                        </li>
                        <li>Click the <i>Launch FlightGear</i> button to run FlightGear. FlightGear will open in the
                        appropriate flight condition for the task. If FlightGear doesn't appear to function correctly,
                            click the <i>Kill FlightGear</i> button to close it and then relaunch FlightGear with the
                            <i>Launch FlightGear</i> button. If it still won't launch, refresh this page.
                        <li>
                            After FlightGear launches, check that your throttle lever position on your joystick matches
                            the initialised value (see Box 1).
                        </li>
                        <li>When you are ready to fly, click the <i>Ready</i> button.</li>
                    </ol>
                </div>
            </div>
        </div>
        <p>Choose aircraft:</p>
        <select id="aircraft">
        </select>
        <br>
        <br>
        <p>Choose flight condition:</p>
        <div class="input-group">
            <span class="input-group-addon">
            <input id="conditionEnabled" type="checkbox">
            </span>
            <select id="condition" class="form-control">
            </select>
        </div><!-- /input-group -->
        <br>
        <small>Tick the box to change the flight condition.</small>
        <br>
        <br>
        <div class="checkbox">
            <label>
                <input id="disableTerraGear" type="checkbox">
                Disable TerraGear scenery package for FlightGear
            </label>
        </div>
        <br>
        <p>
            <a class="btn btn-lg btn-primary" href="/" role="button">&laquo; Back</a>
            <a class="btn btn-lg btn-primary" href="#" id="launchFG" role="button">Launch FlightGear</a>
            <a class="btn btn-lg btn-primary" href="#" onclick="socketEmit('killFG'); return false;"
               role="button">Kill FlightGear</a>
            <a class="btn btn-lg btn-primary" href="#" onclick="socketEmit('runFG', { value: true } ); return false;"
               role="button">Ready</a>
        </p>
        <small>Note that setting a flight condition will disable hotswapping or aircraft since trimming flight in
        a flight condition requires a FlightGear restart.</small>
    </div>
</div>

<div class="col-md-4 fg-box">
    <div id="throttle" class="panel panel-primary">
        <div class="panel-heading">
            Box 1: Match your controls
        </div>
        <div class="panel-body">
            <p>Trim throttle</p>
            <div class="progress">
                <div id="trimThrottle" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%;">

                </div>
            </div>
            <p>Throttle lever position</p>
            <div class="progress">
                <div id="posThrottle" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
            <p>Joystick position</p>
            <div class="graph center-block">
                <div class="vaxis"></div>
                <div class="haxis"></div>
                <div id="graphPoint" class="point"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary fg-box">
        <div class="panel-heading">
            Box 2: Get or set aircraft flight simulation property:
        </div>
        <div class="panel-body text-center">
            <select id="properties"></select>
            <br>
            <br>
            <input id="propertyValue" type="text" placeholder="Type the new value here" class="form-control" />
            <br>
            <div class="btn-group" role="group">
                <button class="btn btn-default" onclick="getProp()">Get</button>
                <button class="btn btn-default" onclick="setProp()">Set</button>
            </div>
            <br>
            <br>
            <p id="property-value"></p>
        </div>
    </div>
</div>

<div class="panel-group col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Box 3: Log properties to a property file
        </div>
        <div class="panel-body text-center">
            <button class="btn btn-default" onclick="socketEmit('logData');">Log properties</button>
            <a href="log.csv" class="btn btn-default" >Get last log</a>
        </div>
    </div>
</div>

<div class="panel-group col-md-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Box 4: Change the property list:
        </div>
        <div class="panel-body text-center">
            <p><a href="/propertyList.json">Click here</a> for the old list</p>
            <p>Upload a new list:</p>
            <input type="file" id="propertyList">
            <button class="btn btn-default" onclick="sendProperties()">Upload file</button>
            <p id="propertyListSaved" style="display: none;">Property list saved successfully</p>
        </div>
    </div>
</div>

<div class="panel-group col-md-12" id="errorPanel" style="display: none">
    <div class="panel panel-danger" id="panel1">
        <div class="panel-heading">
            <a data-toggle="collapse" data-target="#collapseOne"
               href="#collapseOne" aria-expanded="false" class="collapsed"><h3 class="panel-title">Error data:</h3></a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                {{errorReason}}
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/getAircraftAndConditions.js"></script>
<script src="/javascripts/propertyChanger.js"></script>
<script src="/javascripts/trimThrottle.js"></script>
<script src="/javascripts/propertyListUpdater.js"></script>
<script>
    /* Add handler for Launch FlightGear button clicks */
    document.getElementById('launchFG').addEventListener('click', function() {
        var aircraftName = document.getElementById('aircraft').value;
        var flightCondition,
            disableTerraGear;
        if (document.getElementById('conditionEnabled').checked == true) {
            flightCondition = document.getElementById('condition').value;
        }
        if (document.getElementById('disableTerraGear').checked == true) {
            disableTerraGear = true;
        }
        socketEmit("launchFG", {name: aircraftName, condition: flightCondition, disableTerraGear: disableTerraGear});
    });
    /* Automatically activate flight condition on condition selected */
    $('#condition').on('changed.bs.select',function() {
        document.getElementById('conditionEnabled').checked = true;
    });
</script>