<script>
    function socketEmit(event,data) {
        socket.emit(event,data);
    }
</script>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron col-md-8">
    <h1>{{title}}</h1>
    <div id="content">
        <p>
            We're ready to run FlightGear now! Are you excited? You should be!
        </p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                How to use FlightGear:
            </div>
            <div class="panel-body">
                <ol>
                    <li>Click the <i>Launch FlightGear</i> button to run FlightGear. FlightGear will open in the
                    appropriate flight condition for the task. If FlightGear doesn't appear to function correctly, shut
                    it and relaunch it. If it still won't launch, refresh this page.</li>
                    <li>
                        After FlightGear launches, check that your throttle lever position on your joystick matches
                        the initialised value (see Box 1).
                    </li>
                    <li>When you are ready to fly, click the <i>Ready</i> button.</li>
                </ol>
            </div>
        </div>
        <p>
            <a class="btn btn-lg btn-primary" href="/" role="button">&laquo; Back</a>
            <a class="btn btn-lg btn-primary" href="#" onclick="socketEmit('launchFG', {
                name: 'Custom'
            }); return false;" role="button">Launch FlightGear</a>
            <a class="btn btn-lg btn-primary" href="#" onclick="socketEmit('runFG', { value: true } ); return false;"
               role="button">Ready</a>
        </p>
    </div>
    <small>Are you a developer? Try the development tools page <a href="development">here</a> to see the available functions
        and methods</small>
</div>

<div class="col-md-4 fg-box">
    <div id="throttle" class="panel panel-primary">
        <div class="panel-heading">
            Box 1: Match your controls
        </div>
        <div class="panel-body">
            <p>Trim throttle</p>
            <div class="progress">
                <div id="trimThrottle" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%;">

                </div>
            </div>
            <p>Throttle lever position</p>
            <div class="progress">
                <div id="posThrottle" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
            <p>Joystick position</p>
            <div class="graph center-block">
                <div class="vaxis"></div>
                <div class="haxis"></div>
                <div id="graphPoint" class="point"></div>
            </div>
        </div>
    </div>
</div>

<div class="panel-group col-md-12" id="errorPanel" style="display: none">
    <div class="panel panel-danger" id="panel1">
        <div class="panel-heading">
            <a data-toggle="collapse" data-target="#collapseOne"
               href="#collapseOne" aria-expanded="false"><h3 class="panel-title">Error data:</h3></a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                {{errorReason}}
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/trimThrottle.js"></script>