<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>{{title}}</h1>
    <p>
        Thank you for agreeing to take part in this project. This project will use the flight simulation game called
        FlightGear to help you to understand concepts in Aircraft Design (also known as Design 2).
    </p>
    <p>
        There will be a series of sessions that you should take part in during this project, which will guide you
        through the process - <i>no understanding</i> of FlightGear or flight simulation is required.
    </p>
    <p>
        You are <i>not required</i> to participate in any session or to complete a session, however, completing as many
        sessions as fully as possible would be preferred.
    </p>
    <p>
        <a class="btn btn-lg btn-primary" href="/constraints/intro" role="button">Get Started &raquo;</a>
    </p>
</div>