<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>
          var socket = io();
      </script>
  </head>
  <body id="top">
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">PedagogicalSim</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li {{#compare path "introduction" operator="=="}}class="active"{{/compare}}>
                      <a href="/">Introduction</a></li>
                  <li  {{#compare path "fly" operator="=="}}class="active"{{/compare}}><a href="/fly">Fly now!</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                         aria-expanded="false">Lessons <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-header">Constraints Analysis</li>
                          <li {{#compare path "constraints/intro" operator="=="}}class="active"{{/compare}}>
                              <a href="/constraints/intro">Introduction to Constraints</a>
                          </li>
                          <li {{#compare path "constraints/compare" operator="=="}}class="active"{{/compare}}>
                              <a href="/constraints/compare">Task 1: Compare two unknown aircraft flight profiles</a>
                          </li>
                          <li {{#compare path "constraints/driving" operator="=="}}class="active"{{/compare}}>
                              <a href="/constraints/driving">Task 2: Which are the driving constraints?</a>
                          </li>
                          <li role="separator" class="divider"></li>
                          <li class="dropdown-header">Additional lessons coming soon!</li>
                      </ul>
                  </li>
              </ul>
              {{#if systemInfo }}
              <ul class="nav navbar-nav navbar-right">
                  <h6>
                      System Info:
                      <br>
                      <small>{{systemInfo}}</small>
                  </h6>
              </ul>
              {{/if}}
          </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    {{{body}}}
  </div>
  </body>
</html>
