<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron col-md-12">
    <h1>{{title}}</h1>
    <p>You will be using the Saitek X52 Pro joystick in the session here, and so this page provides information on
    how to use this joystick with FlightGear. </p>
    <div class="col-md-4">
        <h3>Joystick:</h3>
        <img src="/images/Joystick.JPG" />
    </div>
    <div class="col-md-4">
        <h3>Throttle:</h3>
        <img src="/images/Throttle.JPG" />
    </div>
    <div class="col-md-4">
        <h3>Connectors:</h3>
        <img src="/images/JoystickConnector.JPG" />
    </div>
</div>
<p>
    <a class="btn btn-lg btn-primary" href="/constraints/compare" role="button">&laquo; Back</a>
</p>
<div class="alert alert-info col-md-12" role="alert">
    <strong>Note:</strong> At home or elsewhere, you may use any other joystick that FlightGear
    supports.
</div>