<link rel="stylesheet" href="/bootstrap-select/css/bootstrap-select.min.css" xmlns="http://www.w3.org/1999/html">
<script src="/bootstrap-select/js/bootstrap-select.js"></script>
<script>
    function socketEmit(event,data) {
        socket.emit(event,data);
    }
</script>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron col-md-8">
    <h1>{{title}}</h1>
    <div id="content">
        <p>
            In this exercise, you will be <strong>comparing</strong> <i>two different aircraft</i> in the Flight
            Simulator to review their different <strong>flight profiles</strong> in order to determine their
            <strong>quartile</strong> on the constraints analysis diagram.
        </p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                How to carry out this exercise:
            </div>
            <div class="panel-body">
                <ol>
                    <li>Check you know your joystick controls work. <a href="/joystick/saitek">Click here</a> for
                        instructions for the Saitek X52 Pro<!-- and <a href="/joystick/test">click here</a> to test your
                        joystick-->.</li>
                    <li>Select your initial flight condition from the <i>dropdown</i></li>
                    <li>Click the <i>Launch Aircraft 1</i> button.</li>
                    <li>Match your throttle lever to the trimmed setting (see Box 1).</li>
                    <li>Once FlightGear has loaded, review the trim values and click the <i>Ready</i> button to run the
                        simulator.</li>
                    <li>Fly the aircraft! Try to get a sense for the aircraft type.</li>
                    <li>Click the <i>Launch Aircraft 2</i> button.</li>
                    <li>Match your throttle lever to the trimmed setting (see Box 1).</li>
                    <li>Once FlightGear has loaded, review the trim values and click the <i>Ready</i> button to run the
                        simulator.</li>
                    <li>Fly the aircraft! Try to get a sense for the aircraft type.</li>
                    <li>Repeat with various flight conditions for aircraft 1 and aircraft 2.</li>
                    <li>
                        Go to the Blackboard Quiz and select which quartile you think aircraft 1 and aircraft 2 are in.
                    </li>
                </ol>
            </div>
        </div>

        <p>
            Initial flight condition:
            <select id="aircraftCondition">
                <option value="climb">Climb</option>
                <option value="cruise">Cruise</option>
                <option value="landing">Landing</option>
            </select>
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" onclick="socketEmit('launchFG', { name: 'Aircraft1',
            condition: document.getElementById('aircraftCondition').value }); return false;"
               role="button">Launch Aircraft 1</a>
            <a class="btn btn-lg btn-primary" href="#" onclick="socketEmit('launchFG', { name: 'Aircraft2',
            condition: document.getElementById('aircraftCondition').value }); return false;"
               role="button">Launch Aircraft 2</a>
            <a class="btn btn-lg btn-primary" href="#" onclick="socketEmit('runFG', { value: true } ); return false;"
               role="button">Ready</a>
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="/constraints/intro" role="button">&laquo; Back</a>
            <a class="btn btn-lg btn-primary" href="/constraints/driving" role="button">Task 2 &raquo;</a>
        </p>
    </div>
</div>

<div class="col-md-4 fg-box">
    <div id="throttle" class="panel panel-primary">
        <div class="panel-heading">
            Box 1: Match your controls
        </div>
        <div class="panel-body">
            <p>Trim throttle</p>
            <div class="progress">
                <div id="trimThrottle" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%;">

                </div>
            </div>
            <p>Throttle lever position</p>
            <div class="progress">
                <div id="posThrottle" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                     aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
            <p>Joystick position</p>
            <div class="graph center-block">
                <div class="vaxis"></div>
                <div class="haxis"></div>
                <div id="graphPoint" class="point"></div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning col-md-12" role="alert">
    <strong>If you're having issues</strong>: Quit FlightGear (if it has opened) and refresh this web page and try
    clicking the launcher again. If you're still having issues, <a href="/reset">click here</a> to quit this application
    and relaunch it using the shortcut. Still having issues? <a href="mailto:hello@blewis.co.uk">Contact Ben Lewis</a>
    and send him the log in the error box (Box 2) below this.
</div>

<div class="panel-group col-md-12" id="errorPanel" style="display: none">
    <div class="panel panel-danger" id="panel1">
        <div class="panel-heading">
            <a data-toggle="collapse" data-target="#collapseOne"
               href="#collapseOne" aria-expanded="false"><h3 class="panel-title">Box 2: Error data</h3></a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                {{errorReason}}
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/trimThrottle.js"></script>
<script>
    $('select').selectpicker();
</script>